<div class="container" style="padding-top:20px;">

    <include file="article/list_left" />

    <div class="listright">
        <div class="list-box">
            <div class="list-box-head">{$current_navbar['title']}</div>
            <ul class="pagelist">
                <article:lists name="news" category="$category['id']" ispage="true" row="12">
                    <li <if condition="($key+1)%4==0">class="last"</if>  style="text-align:center;height:264px">
                        <a href="{$news['link']}">
                            <img src="{:thumb($news['thumb'], 232,175)}" />
                            <h5>{:get_short($news['title'], 50)}</h5>
                            <div>{:get_short(trim($news['subtitle']), 60)}</div>
                        </a>
                    </li>
                </article:lists>
            </ul>
            <div class="clearfix"></div>
            <div class="pagestring">{$pagestring}</div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        var text = $('.breadcrumb .active').html();
        text += '&nbsp;&nbsp;（按姓氏音序排列）';
        $('.breadcrumb .active').html(text);
    });
</script>